@font-face{
    font-family: "AR BONNIE";
    src: url('fonts/ARBONNIE.ttf'),
    url('ARBONNIE.eot'); /* IE */
}

@font-face{
    font-family: "Century Gothic";
    src: url('fonts/Centurygothic.ttf'),
    url('centurygothic.eot'); /* IE */
}

.nav-item
{
	font-family: "Century Gothic";
}

.navbar-brand
{
	font-family: "AR BONNIE";
}

.navbar
{
	opacity: 0.5;
}

.herotile
{
	width:100%;
	height:80%;
}

/*.aboutus
{
	//background-color: #E24C43;
	height: 100%;
}*/


.abtrow
{
		//background-color: #00bfe0;
		

		//height: 40%;
		width: auto;

}

		
		
/*.offercontainer
{
	width: 100%;
	height: 100%;
	background-color: #000000;
}*/
/*abtpic1 , .abtpic2
{
	background-color: #0000ff00;
	padding: 0;


}*/

.abtcontainer
{
	//background-color: #ededed;
	width: 100%;
	
	


}




.abthead
{
	font-family: AR BONNIE;
	
	color: #000000;
	


}

.offerhead
{
	font-family: AR BONNIE;
	
	

	font-size: 4em;
	color: #000000;
	
}

.abtsubhead
{
	font-family: Century Gothic;
	color: #000000;

}

.abttext
{
	font-family: Century Gothic;
	font-weight: bold;
}


.whatweare, .missionvision, .culturevalues, .bethebrand
{
	//background-color: #FFD380;
	padding:2%;




}

.whatwearecon
{
	background-color: #E24C43;
	/*height: 100%;
	width: 100%;*/

	font-family: AR BONNIE;
	
	text-align: center;

	color: #ffffff;
	text-decoration-line: underline;

}

.abtintro
{
	font-family: Century Gothic;
	font-weight: bold;
	font-size: 1em;
	padding-top:5%;
	padding-left:5%;
	padding-right:5%;
	padding-bottom:0%;
		
}

.parallax
{
	background-image: url("offer.jpg");
	 background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:30%;
    //opacity: 0.7;
}

.parallaxx1, .parallaxx2, .parallaxx3
{
	//background-image: url("offer.jpg");
	 background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
    
    opacity: 0.75;
}

.parallaxx1
{
	background-image: url("snacks.jpg");
}

.parallaxx2
{
	background-image: url("bread.jpg");
}

.parallaxx3
{
	background-image: url("cakes.jpg");
}




.parallaxmenu
{
	background-image: url("menuparallax.jpg");
	 background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:40%;
    //opacity: 0.7;
}

.offerrow
{
	height:40%;
	background-color: #0000ff00;
	width: auto;
	margin-left: 4%;
	 margin-right: 4%;
	  
}

.cakescol
{
	//background-color: #0000ee;
	padding: 3%;

}

.cakecolinner
{
	background-image: url("cakee.jpg");
	background-size: 100% 100%;
	height: 93%;

}

.snacksrow
{
/*	background-color: #cc00cc;
*/	height:50%;
	padding-top: 6%;
	padding-right: 6%;
}

.snacksrowinner
{
		background-image: url("mixture.jpg ");
		height: 93%;
		width:100%;
		background-size: 100% 100%;
}

.bunsrow
{
	//background-color: #bb0000;
	height:50%;
	padding-top: %;
	padding-right: 6%;

}

.bunsrowinner
{
		background-image: url("breadd.jpg");
		height: 93%;
		width:100%;
		background-size: 100% 100%;

}

.whatweoffer
{
	background-color: #FFD380;
	width: 100%;
}

.jclass
{
	margin: 0%;
	padding-top:0%;
	padding-bottom: 0%;
	background-color: #f7f5e6;
	height: auto;
}


.titlerow
{
	height:100%;
	width: 100%;
	//background-color: #E24C43;
	margin: 0%;

}

.abtpic
{
	background-image: url("about.jpg");
	background-clip: auto;
	background-attachment: fixed;
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;




}

.aboutrow
{
	height: 100%;
	width: auto;
	padding-top: 3%;
	padding-bottom: 3%;
}

.explore
{
	font-family: Century Gothic;
	color: #000000;
	text-decoration-line: underline;
	float: right;
	
}

.blackfilm
{
	height: 100%;
	width: 100%;
	background-color: #000000;
	opacity: 0.7;
}


.jwclass
{
		
	
	background-color: #000000;
	//height: auto;
}

.offeritems
{
	//background-color: #E24C43;
	
	padding: 2%;
	font-size: 2em;

	font-family: AR BONNIE;
	width: auto;
}


.offercon
{
	background-color: #00f7f5e6;
		//height: 100%;
		text-align: center;


	}

.offerlink
{
	color:#000000;
	font-weight: bold;
	text-decoration-line: underline;

}

.menunav
{
	background-color: #000000;
	margin-top: 3%; 
	
}

.menuitems
{
	color: #ffffff;
	font-family: Century Gothic;
	font-weight: bold;
	padding-left: 5%;
	padding-right: 5%;
}

/*
.cardimg
{
	width: 30%;
	height: 80%;
	
	position: absolute;
}


.cardblock
{
	position: absolute;
	margin-left: 30%;
}

.ctitle
{
	position: absolute;

}

.cprice
{
	text-align: right;
}*/

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
}

.cardmain
{
	height: 30%;
	//background-color:#00aaaa;
	margin:1%; 
}


.cardrow
{
	height: auto;
		margin-left:3%;
	margin-right: 3%;
	width: auto;

}

.ctitle
{
	font-family: Century Gothic;
	font-weight: bold;
	margin:0%;
	

}

.cprice
{
	font-family: Century Gothic;
	font-weight: bold;
	margin: 1%;
	font-size: 0.75em;
	

}

.ccontent
{
	font-family: Century Gothic;
	font-size: 0.8em;
	margin: 0%;


}


.knowmore
{
	font-family: Century Gothic;
	font-weight: bold;
	color: black;
	float: right;
	text-decoration: underline;

}

.crow
{
		//padding: 3%;
		border: 1px solid #ddd;
		box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


.ccol
{
		padding: 3%;
}


.jwhatclass
{
	background-color: #E24C43; 
	margin: 0%; 
	height: auto;
}

.jconclass
{
	background-color: #E24C43;
}


/*---------------------------------------------MENU PAGE DESIGN---------------------------------------------------------------------------------------*/

.itemname
{
	background-color: #E24C43;
	width: 100%;
	height: 10%;
	padding: 0%;
	margin: 0%;
}


.itemtitle, .itemprice
{
	font-family: AR BONNIE;
	font-weight: bold;
	font-size: 2.3em;
	

}

.itemtitle
{
	padding-left: 2%;
	color: #ffffff;

}

.itemprice
{
	text-align: right;
	padding-right: 2%;
	margin-left: auto;
	color: #ffffff;

}

.itemrow
{
	//width: 100%;
	height:auto;
	//background-color: #0aa000;
	margin: 0%;
}

.imgcol
{
	padding: 3%;

}

.itemimg
{
	width: 100%;
	height:auto;
}

.itemcontent
{
	padding: 3%;

}

.itemnavstyle
{
	color: #000000;
	font-family: Century Gothic;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 0%;

}

.itemdesc
{
	background-color: #f7f5e6;
	height: 40%;
	margin: 1%;
	width: auto;
	overflow-y: scroll;
}

.desc
{
	font-family: Century Gothic;
	font-size: 0.9em;
	padding:4%;
	margin: 0%;

}

.qtext
{
	background-color: #E24C43;
	margin-right: 2%;
	margin-left: 2%;
	width:15%;
	font-family: Century Gothic;
	font-weight: bold;
}

.qgroup
{
	margin-left: 2%;
	margin-top: 3.3%;
	margin-right: 2%;
}

.qbutton
{
	background-color: #E24C43;
	font-family: Century Gothic;
	font-weight: bold;
	color: #ffffff;
}

.addbutton1
{
	background-color: #E24C43;
	font-family: Century Gothic;
	font-weight: bold;
	color:#ffffff;
}

.pnav
{
	margin-bottom: 3%;
}
/*--------------------------------------------MENU PAGE DESIGN END--------------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------CART PAGE DESIGN-----------------------------------------------------------------------------*/

.carttitle
{
	background-color: #E24C43;
	height:10%;
	width: 100%;
}

.cartname
{
	font-family: AR BONNIE;
	color: #ffffff;
	font-weight: bold;
	font-size: 3em;

}

.tabrow
{
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	border: 1px solid #ddd;
	width: 20%;
}

.carthead
{
	
	background-color: #000000;
	height: 5%;
	
	margin: 2%;
}

.chead , .citem
{
	font-family: Century Gothic;
	font-size: 0.95em;
	
	font-weight: bold;
	
	
}

.chead
{
	color: #f7f5e6;
}

.cimg
{
	height: 8%;
	margin: 0%;
	width: 100%;
}

.citemrow
{
	height: auto; 
	width: auto;  
	margin: 2%;   
	background-color: #ffffff; 
	box-shadow: 2px 2px 2px rgba(0,0,0,0.03), 2px 2px 2px rgba(0,0,0,0.02);
}

.citem
{
	
	}

.jcart
{
	
	height: auto;
	width: 100%;
	padding-right: 0%;
	margin:0%;
	padding-top: 1%;
	background-color: #f7f5e6;
	//background-color: transparent;

}


.cbutton
{
	background-color: #E24C43;
	font-family: Century Gothic;
	font-weight: bold;
	color: #ffffff;
	height: 3%;
	width: 15%;
	text-align: center;
	padding: 0%;
	margin-top: 2%;
	border-radius: 0px;
}


.ctext
{
	background-color: #E24C43;
	margin-right: 3%;
	color: #ffffff;
	text-align: center;
	margin-left: 3%;
	width:25%;
	border: 0px;
	height: 5%;
	font-family: Century Gothic;
	font-weight: bold;
}


.cgroup
{
	
	/*margin-left: 2%;
	margin-top: 3.3%;
	margin-right: 2%;*/

}

.cartgrp
{
	width: auto;

	//background-color: #000000;

}

.outstck
{
	height: auto;
	width:auto;
	margin-top: 2%;
	background-color: #000000;
	font-family: Century Gothic;
	color: #ffffff;
	font-size: 0.7em;
	border-radius: 5px;
	text-align: center;

}

.cardbtm
{
	position: fixed;

}

.addbutton, .addbuttonc
{
	border-radius: 0px;
	width: 100%;
	margin-top: 5%;
	//border-color:#E24C43;
	background-color: #E24C43;
	font-family: Century Gothic;
	font-weight: bold;
	color:#ffffff;
}

.addbuttonc
{
	background-color: transparent;
	color: #E24C43;
	border-color: #E24C43;
	border-width: 2px;
}
.sjclass
{
	width: 100%;
	padding-top: 0%;
	margin: 0%;
	background-color: #f7f5e6;
	
	
}

.totalitems
{
	//background-color: #000000;
	padding: 0%;
	margin-top: 5%;
	color:#E24C43;
	font-family: Century Gothic;
	font-weight: bold;
}

.btngp
{
	padding-left: 5%;
	padding-right:5%;
}
/*-------------------------------------------------------------------------CART PAGE DESIGN END-------------------------------------------------------------------------------------*/

































/*------------------------------------------------------------------------------------------------------------------------------------*/
@media all and (min-width: 320px) {

.herotile
{
	height:60%;
}

/*.aboutus
{
	height:24%;

}*/

.abtcontainer
{
	//margin-top: 2%;
	height:auto%;
	

}

/*.abtpic1
{
	margin-top: 3%;
}

.abtpic2
{
	margin-bottom: 3%;
}
*/

.wheatpic
{
	width:40%;

}

.abtsubhead
{
	margin-top: 4%;
	font-size: 8px;
}

.abttext
{
	
	font-size: 2%;
	padding:2%;
}


.wheatblack
{
	width:10em;


	
}


.abtrow
{
	height:auto%;
	//background-color: #00aa00;
}

.abtpic
{
	display: none;
}

.jwclass
{
	height: 155%;
}

.whatwearecon
{
	height: auto;
	width: auto;
}

.offeritems
{
	height: auto;
}
.offercon
{
	height: auto;
}

.menunav
{
	
	margin-right: 0%;
	margin-left: 0%;
}


.cardimg
{
	height:40%;
}

.offerrow
{
	margin-bottom: 14%; 

}

}


/*--------------------------------------------------------------------------------------------------------------------------------------------------*/


@media all and (min-width: 768px) {
.herotile
{
	height:70%;
}
/*.aboutus
{
	height:20%;
}*/

.abtcontainer
{
	height:auto%;
		//margin-top: 2%;

}

/*.abtpic1
{
	margin-top: 3%;
}

.abtpic2
{
	margin-bottom: 3%;
}*/


.wheatpic
{
	width:33%;
}

.abtsubhead
{
	font-size:16px;
	margin-top: 4%;
}

.abttext
{
	
	font-size: 65%;
	padding:2%;
}


.wheatblack
{
	width:12em;

	
}

.abtrow
{
	height:auto%;
}

/*.jwclass
{
height: auto;

}*/

.abtpic
{
	display: block;
	
}

.whatwearecon
{
	height: 100%;
	width: 100%;
}
.offeritems
{
	height: 100%;
}
.offercon
{
	height: 100%;
}
.menunav
{
	
	margin-right: 20%;
	margin-left: 20%;
}


.cardimg
{
	height:20%;
}

.offerrow
{
	margin-bottom: 1%; 

}

}
 /*-----------------------------------------------------------------------------------------------------------------------------------------*/

@media all and (min-width: 1026px) {
.herotile
{
	height:80%;
}

/*.aboutus
{
	height:65%;
}
*/

.abtcontainer
{
	height:auto;
		//margin-top: 5%;

}
/*.abtpic1
{
	margin-top: 3%;
}

.abtpic2
{
	margin-bottom: 3%;
}
*/



.wheatpic
{
	width:30%;

}

.abtsubhead
{
	font-size:22px;
	margin-top: 7%;
}

.abttext
{
	
	font-size: 80%;
	padding:5%;
}

.wheatblack
{
	width:15em;

	
}


.abtrow
{
		
	height: 60%;
		
		
}

.abtpic
{
	display: block;

}

.whatwearecon
{
	height: 100%;
	width: 100%;
}
/*.jwclass
{
	height: auto;
}
*/

.offeritems
{
	height: 100%;
}
.offercon
{
	height: 100%;
}




	.menunav
{
	
	margin-top: 3%; 
	
}

.cardimg
{
	height:20%;
}


.offerrow
{
	margin-bottom: 1%; 

}

}
